body {
    margin:auto;
    background-image: url(img/vang1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
    background-color: black;

}

